body {
  background-color: lightgreen;
  font-family: "Courier New", Courier, monospace;
  color: darkgreen;
}

h1 {
  text-align: center;
  color: darkgreen;
}

form {
  margin-top: 50px;
  text-align: center;
}

select,
input[type="submit"] {
  padding: 12px;
  font-size: 1.1em;
  margin-top: 10px;
  border: 2px solid darkgreen;
  background-color: lightgreen;
}
