body {
  background-color: lightcoral;
  font-family: "Times New Roman", Times, serif;
  color: darkred;
}

h1 {
  text-align: center;
  color: darkred;
}

form {
  margin-top: 50px;
  text-align: center;
}

select,
input[type="submit"] {
  padding: 15px;
  font-size: 1.3em;
  margin-top: 10px;
  border: 2px solid darkred;
  background-color: lightcoral;
}
